<div class="header">
  <h2>tic tac toe</h2>
</div>

<div class="game-state-label no-winner-label" *ngIf="state.isDraw">Draw: no winner</div>

<div class="game-state-label winner-player-label" *ngIf="!state.isDraw && (state.winnerPlayer !== '')">Player {{state.winnerPlayer}} WINS!</div>

<div class="game-state-label current-player-label" *ngIf="!state.isDraw && (state.winnerPlayer === '')">
  Current Player's Turn: <span class="indicator">{{state.currentPlayer}}</span>
</div>

<div class="board">
  <div *ngFor="let row of state.currentBoard; let r = index">

    <span *ngFor="let spot of row; let c = index">
      <button (click)="onSpotClick(r,c)">
        {{(spot === '') ? '&nbsp;' : spot}}
      </button>
    </span>

  </div>
</div>

<div class="footer">
  <div class="game-controls">
    <button (click)="onRestartGameClick()">Restart Game</button>
  </div>
</div>
